body {
  text-align: center;
  background-color: #2a2a2a;
}
.pokedex{

  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 40px;
  padding: 40px;
  justify-content: center; 
}
.poke-grid{
  box-shadow: 7px 7px 7px rgba(53, 114, 255, 0.25);
  background-color: #b9b9b9;
  height: auto;
  border-radius: 10%;
}

.pokeimg{
  background-color: rgba(18, 11, 148, 0.25);
  border: 1px solid rgba(255, 0, 0, 0.681);
  border-radius: 100px;
  height: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
