body {
  text-align: center;
  background-color: #FF5F00;
}
.pokedex{

  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 40px;
  padding: 40px;
  justify-content: center; 
}
.poke-grid{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #EEEEEE;
  height: auto;
  border-radius: 10%;
}

.pokeimg{
  background-color: #00092C;
  border-radius: 100px;
  height: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
